<a href="https://colab.research.google.com/github/rahul0772/python-ml-ai-relearning/blob/main/Python%20Basics/day01_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world!")

Hello world!

## Variable

In [ ]:
message = "hello world"
print(message)

hello world

In [ ]:
message = "hello world"
print(message)

message = "print "

hello world

In [ ]:
message = "hello world"
print(message)

message = "hello world new "
print(message)

hello world
hello world new

In [ ]:
message = "hello world new "
print(mesage)

NameError: name 'mesage' is not defined

In [ ]:
mesage = "hello world new "
print(mesage)

hello world new

##Strings

In [ ]:
string = "This is a string"
print(string.title())

This Is A String

In [ ]:
print (string.upper())
print(string.lower())

THIS IS A STRING
this is a string

In [ ]:
first_name = "rahul"
last_name = "raut"
full_name = first_name + " " + last_name

print(full_name)

rahul raut

In [ ]:
print ("Hello" + " " + first_name)

Hello rahul

In [ ]:
print("hello")
print("\thello")

hello
	hello

In [ ]:
string = "This \nis a \nstring"
print(string)

This
is a
string

In [ ]:
string = "This \tis \na \tstring and new line"
print(string)

This 	is
a 	string and new line

In [ ]:
whitespace = "python "
remove_whitespace = whitespace.rstrip()
print(remove_whitespace)

python

In [ ]:
whitespace = remove_whitespace
print(whitespace)

python

In [ ]:
whitespace3 = "  python "
print(whitespace3)
remove_whitespace2 = whitespace3.lstrip()
print(remove_whitespace2)

whitespace3 = remove_whitespace2
print(whitespace3)

  python
python
python

In [ ]:
Text = "This is a rahul's repository"
print(Text)

This is a rahul's repository

In [ ]:
Text = 'This is a rahul\'s repository'
print(Text)

This is a rahul's repository

## Numbers

In [ ]:
print(2+7)
print(9-3)
print(9/32)
print(32 ** 2)
print(32 * 8)

9
6
0.28125
1024
256

In [ ]:
print (2+5*7-8)
print (2+5*(7-8))

29
-3

##Float

In [ ]:
print(2.32+7.23)
print(9.23-3.32)
print(9.34/32.3)
print(32.32 ** 2.23)
print(32.323 * 8.23)
print(0.1 + 0.2)
print(3 * 0.1 )

#later in chaper to fix long decimals

9.55
5.91
0.28916408668730653
2323.38464694588
266.01829000000004
0.30000000000000004
0.30000000000000004

In [ ]:
age = 23
message = "happy " + str(age) + " birthday"

print(message)

happy 23 birthday

In [ ]:
print(3 / 2)
print(3.0 / 2)
print(3.0 / 2.0)
print(3 / 2.0)

1.5
1.5
1.5
1.5

#List

In [ ]:
Fruits = ['orange', 'apple', 'pear', 'watermelon']
print(Fruits)

['orange', 'apple', 'pear', 'watermelon']

In [ ]:
print(Fruits[0])
print(Fruits[0]. title())

print( Fruits[-4])
print(Fruits[-3])
print(Fruits[-2])
print(Fruits[-1])
print(Fruits[-0])

orange
Orange
orange
apple
pear
watermelon
orange

In [ ]:
Fruits = ['orange', 'apple', 'pear', 'watermelon']
message = "My fav fruit is " + Fruits[3].title() + "."
print(message)

My fav fruit is Watermelon.

In [ ]:
message2 = "Kev fav fruit is " + Fruits[1].title() + "."
print(message2)

Kev fav fruit is Apple.

In [ ]:
Fruits = ['orange', 'apple', 'pear', 'watermelon']
Fruits[0] = "dragonfruit"
print(Fruits)

['dragonfruit', 'apple', 'pear', 'watermelon']

In [ ]:
Fruits.append("orange")
print(Fruits)

['dragonfruit', 'apple', 'pear', 'watermelon', 'orange']

In [ ]:
Fruits2 = []
Fruits2.append("orange")
Fruits2.append("apple")
Fruits2.append("pear")
Fruits2.append("watermelon")
print(Fruits2)

['orange', 'apple', 'pear', 'watermelon']

In [ ]:
# Inserting Elements into a List
Fruits.insert(0,"kiwi")
Fruits.insert(9,"kiwi")
print(Fruits)

['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'dragonfruit', 'kiwi', 'apple', 'kiwi', 'pear', 'watermelon', 'orange']

In [ ]:
#Removing Elements from a List
del Fruits[0]
print(Fruits)

['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'dragonfruit', 'kiwi', 'apple', 'kiwi', 'pear', 'watermelon', 'orange']

In [ ]:
#Removing an Item Using the pop() Method
Fruits = ['orange', 'apple', 'pear', 'watermelon']
Fruits[0] = "dragonfruit"
print(Fruits)

popped_Fruits = Fruits.pop()
print(popped_Fruits)
print(Fruits)

print("The last fruit I ate was  " + popped_Fruits.title() + ".")

['dragonfruit', 'apple', 'pear', 'watermelon']
watermelon
['dragonfruit', 'apple', 'pear']
The last fruit I ate was  Watermelon.

In [ ]:
#Popping Items from any Position in a List

Fruits = ['orange', 'apple', 'pear', 'watermelon']
Fruits[0] = "dragonfruit"
print(Fruits)

first_Fruits = Fruits.pop(2)
print(first_Fruits)
print("The first fruit I ate today " + first_Fruits.title() + "." )

['dragonfruit', 'apple', 'pear', 'watermelon']
pear
The first fruit I ate today Pear.

In [ ]:
# Removing an Item by Value

Fruits = ['orange', 'apple', 'pear', 'watermelon']
print(Fruits)

Fruits.remove("pear")
print(Fruits)

['orange', 'apple', 'pear', 'watermelon']
['orange', 'apple', 'watermelon']

In [ ]:
Fruits = ['orange', 'apple', 'pear', 'watermelon']
print(Fruits)

rotten = 'orange'
Fruits.remove(rotten)
print(Fruits)

['orange', 'apple', 'pear', 'watermelon']
['apple', 'pear', 'watermelon']

#Organizing a List
### Sorting a List Permanently with the sort() Method

In [ ]:
fruits = ['orange', 'apple', 'pear', 'watermelon']
fruits.sort()
print(fruits)

['apple', 'orange', 'pear', 'watermelon']

In [ ]:
fruits = ['orange', 'apple', 'pear', 'watermelon']
fruits.sort(reverse=True)
print(fruits)

['watermelon', 'pear', 'orange', 'apple']

### Sorting a List Temporarily with the sorted() Function

In [ ]:
fruits = ['orange', 'apple', 'pear', 'watermelon']
print("\nfruits in sorted order:")
print(sorted(fruits))
print(fruits)
print("\nfruits in reverse order:")
print(sorted(fruits, reverse=True))

fruits in sorted order:
['apple', 'orange', 'pear', 'watermelon']
['orange', 'apple', 'pear', 'watermelon']

fruits in reverse order:
['watermelon', 'pear', 'orange', 'apple']

In [ ]:
#Length of a list
fruits = ['orange', 'apple', 'pear', 'watermelon']
len(fruits)

4

# Loops

In [162]:
fruits = [ "plum","watermelon", "raspberry", "orange", "grapes", "litchi", "pear", "guava", "pineapple", "cherry", "fig", "peach"]
for fruit in fruits: #pull a name from the list fruits, and store it in the variable fruit
  print(fruit)

plum
watermelon
raspberry
orange
grapes
litchi
pear
guava
pineapple
cherry
fig
peach

In [176]:
for fruit in fruits:
  print(fruit.title() + " is an delicious fruit")
  print("I would love to have " + fruit.title() + " everyday.\n")
print("I would love to have " + fruit.title() + " everyday.\n")

Plum is an delicious fruit
I would love to have Plum everyday.

Watermelon is an delicious fruit
I would love to have Watermelon everyday.

Raspberry is an delicious fruit
I would love to have Raspberry everyday.

Orange is an delicious fruit
I would love to have Orange everyday.

Grapes is an delicious fruit
I would love to have Grapes everyday.

Litchi is an delicious fruit
I would love to have Litchi everyday.

Pear is an delicious fruit
I would love to have Pear everyday.

Guava is an delicious fruit
I would love to have Guava everyday.

Pineapple is an delicious fruit
I would love to have Pineapple everyday.

Cherry is an delicious fruit
I would love to have Cherry everyday.

Fig is an delicious fruit
I would love to have Fig everyday.

Peach is an delicious fruit
I would love to have Peach everyday.

I would love to have Peach everyday.

In [182]:
#Numerical list
#Using the range() Function

for value in range (3):
  print(value)

0
1
2

In [183]:
for value in range (1, 5):
  print(value)

1
2
3
4

In [190]:
#Using range() to Make a List of Numbers

numbers = list(range(1,4))
print(numbers)

even_numbers = list(range(2,11,2)) #adds 2 repeatedly until it reaches end value
print(even_numbers)

[1, 2, 3]
[2, 4, 6, 8, 10]

In [206]:
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
  print(square)

1
4
9
16
25
36
49
64
81
100

In [207]:
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
  print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [208]:
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
print(square)

100

In [209]:
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [211]:
#alternate
squares = []
for value in range(1,11):
  squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [213]:
print(min(squares))
print(max(squares))

1
100

In [214]:
## List Comprehensions
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [226]:
#slicing
fruits = [ "plum","watermelon", "raspberry", "orange", "grapes", "litchi", "pear", "guava", "pineapple", "cherry", "fig", "peach"]
print(fruits[0:3])
print(fruits[3:8])
print(fruits[:2])
print(fruits[2:])
print(fruits[:-2]) #last two values
print(fruits[-2:])

['plum', 'watermelon', 'raspberry']
['orange', 'grapes', 'litchi', 'pear', 'guava']
['plum', 'watermelon']
['raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach']
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry']
['fig', 'peach']

In [237]:
#Loopin through slice
fruits = [ "plum","watermelon", "raspberry", "orange", "grapes", "litchi", "pear", "guava", "pineapple", "cherry", "fig", "peach"]
print("iteration in a list item:")
for fruit in fruits[3]:
  print(fruit.title())

print("\nfirst three fruits:")
for fruit in fruits[:3]:
  print(fruit.title())

iteration in a list item:
O
R
A
N
G
E

first three fruits:
Plum
Watermelon
Raspberry

In [246]:
#copying a list
all_fruits = [ "plum","watermelon", "raspberry", "orange", "grapes", "litchi", "pear", "guava", "pineapple", "cherry", "fig", "peach"]
my_fav = all_fruits[:] # [:] used for copy all list items
print("All fruits are: ")
print( all_fruits)

print("\nAll my fav fruits are:")
print(my_fav)

all_fruits.append("green apple")
my_fav.append("passionfruit")

print("\nAll fruits are: ")
print( all_fruits)

print("\nAll my fav fruits are:")
print(my_fav)

All fruits are:
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach']

All my fav fruits are:
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach']

All fruits are:
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach', 'green apple']

All my fav fruits are:
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach', 'passionfruit']

In [249]:
#copying a list not to do
all_fruits = [ "plum","watermelon", "raspberry", "orange", "grapes", "litchi", "pear", "guava", "pineapple", "cherry", "fig", "peach"]
my_fav = all_fruits #connect the same variable
print("All fruits are: ")
print( all_fruits)

print("\nAll my fav fruits are:")
print(my_fav)

all_fruits.append("green apple")
my_fav.append("passionfruit")

print("\nAll fruits are: ")
print( all_fruits)

print("\nAll my fav fruits are:")
print(my_fav)

All fruits are:
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach']

All my fav fruits are:
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach']

All fruits are:
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach', 'green apple', 'passionfruit']

All my fav fruits are:
['plum', 'watermelon', 'raspberry', 'orange', 'grapes', 'litchi', 'pear', 'guava', 'pineapple', 'cherry', 'fig', 'peach', 'green apple', 'passionfruit']