<a href="https://colab.research.google.com/github/rahul0772/python-ml-ai-relearning/blob/main/Python%20Basics/day01_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world!")

Hello world!

## Variable

In [5]:
message = "hello world"
print(message)

hello world

In [11]:
message = "hello world"
print(message)

message = "print "

hello world

In [13]:
message = "hello world"
print(message)

message = "hello world new "
print(message)

hello world
hello world new

In [14]:
message = "hello world new "
print(mesage)

NameError: name 'mesage' is not defined

In [15]:
mesage = "hello world new "
print(mesage)

hello world new

##Strings

In [22]:
string = "This is a string"
print(string.title())

This Is A String

In [26]:
print (string.upper())
print(string.lower())

THIS IS A STRING
this is a string

In [32]:
first_name = "rahul"
last_name = "raut"
full_name = first_name + " " + last_name

print(full_name)

rahul raut

In [38]:
print ("Hello" + " " + first_name)

Hello rahul

In [42]:
print("hello")
print("\thello")

hello
	hello

In [43]:
string = "This \nis a \nstring"
print(string)

This
is a
string

In [47]:
string = "This \tis \na \tstring and new line"
print(string)

This 	is
a 	string and new line

In [52]:
whitespace = "python "
remove_whitespace = whitespace.rstrip()
print(remove_whitespace)

python

In [55]:
whitespace = remove_whitespace
print(whitespace)

python

In [58]:
whitespace3 = "  python "
print(whitespace3)
remove_whitespace2 = whitespace3.lstrip()
print(remove_whitespace2)

whitespace3 = remove_whitespace2
print(whitespace3)

  python
python
python

In [62]:
Text = "This is a rahul's repository"
print(Text)

This is a rahul's repository

In [64]:
Text = 'This is a rahul\'s repository'
print(Text)

This is a rahul's repository

## Numbers

In [68]:
print(2+7)
print(9-3)
print(9/32)
print(32 ** 2)
print(32 * 8)

9
6
0.28125
1024
256

In [71]:
print (2+5*7-8)
print (2+5*(7-8))

29
-3

##Float

In [75]:
print(2.32+7.23)
print(9.23-3.32)
print(9.34/32.3)
print(32.32 ** 2.23)
print(32.323 * 8.23)
print(0.1 + 0.2)
print(3 * 0.1 )

#later in chaper to fix long decimals

9.55
5.91
0.28916408668730653
2323.38464694588
266.01829000000004
0.30000000000000004
0.30000000000000004

In [87]:
age = 23
message = "happy " + str(age) + " birthday"

print(message)

happy 23 birthday

In [89]:
print(3 / 2)
print(3.0 / 2)
print(3.0 / 2.0)
print(3 / 2.0)

1.5
1.5
1.5
1.5

#List

In [92]:
Fruits = ['orange', 'apple', 'pear', 'watermelon']
print(Fruits)

['orange', 'apple', 'pear', 'watermelon']

In [107]:
print(Fruits[0])
print(Fruits[0]. title())

print( Fruits[-4])
print(Fruits[-3])
print(Fruits[-2])
print(Fruits[-1])
print(Fruits[-0])

orange
Orange
orange
apple
pear
watermelon
orange

In [110]:
Fruits = ['orange', 'apple', 'pear', 'watermelon']
message = "My fav fruit is " + Fruits[3].title() + "."
print(message)

My fav fruit is Watermelon.

In [112]:
message2 = "Kev fav fruit is " + Fruits[1].title() + "."
print(message2)

Kev fav fruit is Apple.

In [133]:
Fruits = ['orange', 'apple', 'pear', 'watermelon']
Fruits[0] = "dragonfruit"
print(Fruits)

['dragonfruit', 'apple', 'pear', 'watermelon']

In [115]:
Fruits.append("orange")
print(Fruits)

['dragonfruit', 'apple', 'pear', 'watermelon', 'orange']

In [116]:
Fruits2 = []
Fruits2.append("orange")
Fruits2.append("apple")
Fruits2.append("pear")
Fruits2.append("watermelon")
print(Fruits2)

['orange', 'apple', 'pear', 'watermelon']

In [123]:
# Inserting Elements into a List
Fruits.insert(0,"kiwi")
Fruits.insert(9,"kiwi")
print(Fruits)

['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'dragonfruit', 'kiwi', 'apple', 'kiwi', 'pear', 'watermelon', 'orange']

In [129]:
#Removing Elements from a List
del Fruits[0]
print(Fruits)

['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'dragonfruit', 'kiwi', 'apple', 'kiwi', 'pear', 'watermelon', 'orange']

In [139]:
#Removing an Item Using the pop() Method
Fruits = ['orange', 'apple', 'pear', 'watermelon']
Fruits[0] = "dragonfruit"
print(Fruits)

popped_Fruits = Fruits.pop()
print(popped_Fruits)
print(Fruits)

print("The last fruit I ate was  " + popped_Fruits.title() + ".")

['dragonfruit', 'apple', 'pear', 'watermelon']
watermelon
['dragonfruit', 'apple', 'pear']
The last fruit I ate was  Watermelon.

In [143]:
#Popping Items from any Position in a List

Fruits = ['orange', 'apple', 'pear', 'watermelon']
Fruits[0] = "dragonfruit"
print(Fruits)

first_Fruits = Fruits.pop(2)
print(first_Fruits)
print("The first fruit I ate today " + first_Fruits.title() + "." )

['dragonfruit', 'apple', 'pear', 'watermelon']
pear
The first fruit I ate today Pear.

In [145]:
# Removing an Item by Value

Fruits = ['orange', 'apple', 'pear', 'watermelon']
print(Fruits)

Fruits.remove("pear")
print(Fruits)

['orange', 'apple', 'pear', 'watermelon']
['orange', 'apple', 'watermelon']

In [146]:
Fruits = ['orange', 'apple', 'pear', 'watermelon']
print(Fruits)

rotten = 'orange'
Fruits.remove(rotten)
print(Fruits)

['orange', 'apple', 'pear', 'watermelon']
['apple', 'pear', 'watermelon']

#Organizing a List
### Sorting a List Permanently with the sort() Method

In [147]:
fruits = ['orange', 'apple', 'pear', 'watermelon']
fruits.sort()
print(fruits)

['apple', 'orange', 'pear', 'watermelon']

In [149]:
fruits = ['orange', 'apple', 'pear', 'watermelon']
fruits.sort(reverse=True)
print(fruits)

['watermelon', 'pear', 'orange', 'apple']

### Sorting a List Temporarily with the sorted() Function

In [159]:
fruits = ['orange', 'apple', 'pear', 'watermelon']
print("\nfruits in sorted order:")
print(sorted(fruits))
print(fruits)
print("\nfruits in reverse order:")
print(sorted(fruits, reverse=True))

fruits in sorted order:
['apple', 'orange', 'pear', 'watermelon']
['orange', 'apple', 'pear', 'watermelon']

fruits in reverse order:
['watermelon', 'pear', 'orange', 'apple']

In [160]:
#Length of a list
fruits = ['orange', 'apple', 'pear', 'watermelon']
len(fruits)

4