<a href="https://colab.research.google.com/github/rahul0772/python-ml-ai-relearning/blob/main/Python%20Basics/day02_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

In [ ]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [ ]:
dimensions[0] =222

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(dimensions)

(200, 50)

In [ ]:
#looping
for dimensions in dimensions:
  print(dimensions)

200
50

In [ ]:
#writing over a tuple

dimensions = (200, 50)
print('Original dimesions')
for dimension in dimensions:
  print (dimension)

dimensions = (400, 100) #assign a new value to a variable that holds a tuple
print('\nModified dimesions:')
for dimension in dimensions:
    print(dimension)

Original dimesions
200
50

Modified dimesions:
400
100

##IF Statements

In [ ]:
fruits = ['orange', 'apple', 'pear', 'watermelon']

for fruit in fruits:
  if fruit == 'pear':
    print(fruit.upper())
  else:
    print(fruit.title())

Orange
Apple
PEAR
Watermelon

In [ ]:
# conditional test
#checking for equality
fruit = "orange"
print(fruit == "orange")
print(fruit == "apple")
print(fruit == "Orange")

True
False
False

In [ ]:
fruit = "Oranges"
print(fruit.lower() == 'oranges')
print(fruit)

True
Oranges

In [ ]:
##Inquality
fruit = "orange"

if fruit != "orange":
  print("rotten")

In [ ]:
if fruit != "apple":
  print("rotten")

rotten

In [ ]:
#numerical comparison
age = 20
age == 20

True

In [ ]:
answer = 12

if answer != 23:
  print("wrong")

wrong

In [ ]:
age = 12
age < 13

True

In [ ]:
age <= 21

True

In [ ]:
age > 23

False

In [ ]:
#multiple conditions
kevin = 20
isa = 23

kevin >= 21 and isa >= 21

False

In [ ]:
kevin >= 20 and isa >= 20

True

In [ ]:
#OR
kevin = 20
isa = 23

(kevin >= 21) or (isa >= 21)

True

In [ ]:
(kevin <= 18) or (isa <= 18) #under 18

False

In [ ]:
#Checking Whether a Value Is in a List
fruit_bag = ['orange', 'apple', 'pear']
'orange' in fruit_bag

True

In [69]:
'cherry' in fruit_bag

False

In [70]:
#Checking Whether a Value Is Not in a List
"cherry" not in fruit_bag

True

In [75]:
#boolean exp
process_on = True
can_edit = False

In [82]:
age = 19

if age >= 18:
  print("pass")
  print("registered?")

pass
registered?

In [84]:
#IF -Else
age = 19

if age == 18:
  print("pass")
else:
  print("fail")

fail

In [89]:
#if-elif-else
age = 12

if age < 4:
  print("no entry")
elif age <= 18:
  print("enter")
else:
  print("not applicable")

enter

In [91]:
age = 42

if age < 4:
  print("no entry")
elif age <= 18:
  print("enter")
else:
  print("not applicable")

not applicable

In [93]:
age = 12

if age < 4:
  price = 0
elif age < 18:
  price = 5
else:
  price = 10
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

In [95]:
age = 12

if age < 4:
  price = 0
elif age < 65:
  price = 5
elif age < 18: #<------- note skips below conidtions
  price = 10
else:
  price =5
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

In [98]:
#no else

age = 12

if age < 4:
 price = 0
elif age < 18:
 price = 15
elif age < 65:
 price = 10
elif age >= 65:
 price = 5
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $15.

In [100]:
#Testing Multiple Conditions

fruits = ['orange', 'lemon', 'apple']

if "orange" in fruits:
  print("orange")
if "cherry" in fruits:
  print("cherry")
if "apple" in fruits: #three independent tests are executed every time this program is run, every condition in this example is evaluated unlike elif
  print("apple")

orange
apple

In [101]:
#elif
fruits = ['orange', 'lemon', 'apple']

if "orange" in fruits:
  print("orange")
elif "cherry" in fruits:
  print("cherry")
elif "apple" in fruits: # doesnâ€™t run any tests beyond the first test that passes in an if-elif-else chain
  print("apple")

orange

In [103]:
#Using if Statements with Lists

fruits_basket = ["orange", "apple", "banana"]

for fruit in fruits_basket:
  print(fruit + " is added")
print ("fruit basket filled")

orange is added
apple is added
banana is added
fruit basket filled

In [105]:
#if item runs out
for fruit in fruits_basket:
  if fruit == "apple":
    print(fruit +" ran out")
  else:
    print(fruit + " is added")
print ("fruit basket filled")

orange is added
apple ran out
banana is added
fruit basket filled

In [108]:
#List not empty check
fruit_basket = [] #returns True if the list contains at least one item; an empty list evaluates to False

if fruit_basket:
  for fruit in fruit_basket:
    print(fruit + " is added")
  print("basket filled")
else:
    print("basket empty")

basket empty

In [110]:
#Multiple list
fruit_basket = ["orange", "apple", "banana", "cherry"] #available fruits
fruits = ['orange', 'banana', "pear"] #needed fruits

for fruit in fruits:
  if fruit in fruit_basket:
    print(fruit + " is added")
else:
  print(fruit + " ran out")

orange is added
banana is added
pear ran out